
services:
  backend:
    build: ./backend
    container_name: backend
    env_file:
      - .env
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    tty: true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${SERVER_PORT}"]
      interval: 1m30s
      timeout: 3s
      retries: 5
      start_period: 15s
